html{
  font-size: 10px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;    
}
nav {
    font-size:1.4em;
    float: right;
    width: 20%;
}
nav ul{
    list-style: none;
    text-decoration: none;
}
nav ul li{
    font-family: 'Paytone One', sans-serif;    
    padding: 5px 0px;
    align-content: center;
    text-decoration: none;
    margin: 2em;
    border: 3px solid #a66;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
}
/* spacing */

table {
  font-size: 1.5em;
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
  border: 3px solid purple;
}
thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}

/* typography */

thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

th {
  letter-spacing: 3px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

/* Graphics and decoration*/
thead, tfoot {
  background: url(/media/leopardskin.jpg);
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid purple;
}
tbody tr:nth-child(odd) {
  background-color: #ff33cc;
}
tbody tr:nth-child(even) {
  background-color: #e495e4;
}
tbody tr {
  background-image: url(/media/noise.png);
}
table {
    background-color: #ff33cc;
}
caption {
  font-family: 'Rock Salt', cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}
code{
    box-decoration-break:clone;
    word-wrap: break-word;
}
h4 {
    margin: 10px 20px;
    padding: 10px;
    color: white;
    background-color: black;
    display: inline;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
}
h4:hover{
    background-color: red;
}
h4+ul{
    margin: 1em 8em 2em;
    padding: 2em;    
    text-align: justify;
    width: 30%;
    color: white;
    font-size: 2em;
background-color: black;
}