html,
body {
    margin: 0;
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0px 125px;
    top: -4px;
    right: -15px;

    color: transparent;
    text-shadow: 0 0 4px white;
}
canvas {
    display: block;
    margin: auto;
    width: 90%;
}

.returnButton {
    display: block;
    margin: 10px auto;
    background-color: royalblue;
    padding: 10px;
    border-radius: 12px;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
}

.returnButton a {
    text-decoration: none;
    color: rgba(255, 255, 250, 1);
    text-shadow: 2px 2px 1px black;
}
p{
    font-size: 2em;
    position: absolute;
    margin: 0;
    top: 35px;
    right: 205px;
    color: indianred;
    background-color: cadetblue;
    padding: 12px;
    text-shadow: 3px 2px 5px gray;
}